
@font-face {
  font-family: 'Norse';
  src: url('/fonts/Norse.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Norse';
  src: url('/fonts/NorseBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body, html {
  margin: 0;
  padding: 0;
}